<div class="card">
    <div class="card-text">
        <table class="col-md-12">
            <tr class="row">
                <td class="col">Number of Scrum master</td>
                <td class="col">: {{scrumMasterCount}}</td>
            </tr>
            <tr class="row">
                <td class="col">Number of development members</td>
                <td class="col">: {{developmentMembers}}</td>
            </tr>
            <tr class="row">
                <td class="col">Number of pairs</td>
                <td class="col">: {{pairCount}}</td>
            </tr>
            <tr class="row">
                <td class="col">Sprint No</td>
                <td class="col">: {{sprint?.sprintId?.sprintNo}}</td>
            </tr>
            <tr class="row">
                <td class="col">Sprint start date</td>
                <td class="col">: {{sprint?.startDate}}</td>
            </tr>
            <tr class="row">
                <td class="col">Entry Date</td>
                <td class="col">:XX</td>
            </tr>
        </table>
    </div>
</div>