div.card{
    padding:2%;
    font-size: small;
}

input,select{
    font-size: small !important;
    padding:0;
}
.row{
    margin-top: 2%;
}

.form-control[readonly] {
    background-color: #fff;
}

