<div>
  <h1 class="text-center">Sprint Planning Meeting</h1>
  <app-sprint-details></app-sprint-details>
  <div class="card">
    <div class="card-text">
      <form (submit)="submit(sprintPlanningForm)" #sprintPlanningForm="ngForm">
      <div class="row">
        <div class="col-md-4">
          <p>Attendance of PO:</p>
        </div>
        <div class="col-md-2">
          <select class="form-control" name="poParticipation" [(ngModel)]="sprintPlanning.poParticipation">
            <option value="true">Present</option>
            <option value="false">Absent</option>
          </select>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p>Participation of development members:</p>
        </div>
        <div class="col-md-2">
          <select class="form-control" size="2" name="devCount" [(ngModel)]="sprintPlanning.devCount"
                (blur)="calDevPercent()">
                <option value="0" selected>0</option>
                <option *ngFor="let value of devCounter;index as i" value="{{i+1}}">{{i+1}}</option>
              </select>
        </div>
        <div class="col-md-2">
          <div class="rounded d-flex flex-row align-items-center">
            <input type="text" name="devPercent" [(ngModel)]="sprintPlanning.devPercent" class="form-control" readonly="readonly" />
            <span>%</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p>Attendance of ASPM:</p>
        </div>
        <div class="col-md-2">
          <select class="form-control" size="2" name="aspmCount" [(ngModel)]="sprintPlanning.aspmCount"
          (blur)="calAspmPercent()">
          <option value="0" selected>0</option>
          <option *ngFor="let value of aspmCounter;index as i" value="{{i+1}}">{{i+1}}</option>
        </select>
        </div>
        <div class="col-md-2">
            <div class="rounded d-flex flex-row align-items-center">
              <input type="text" name="aspmPercent" [(ngModel)]="sprintPlanning.aspmPercent" class="form-control" readonly="readonly" />
              <span>%</span>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p>Attendance of Asst. SM:</p>
        </div>
        <div class="col-md-2">
          <select class="form-control" size="2" name="asmCount" [(ngModel)]="sprintPlanning.asmCount"
                (blur)="calAsmPercent()">
                <option value="0" selected>0</option>
                <option *ngFor="let value of asmCounter;index as i" value="{{i+1}}">{{i+1}}</option>
              </select>
        </div>
        <div class="col-md-2">
          <div class="rounded d-flex flex-row align-items-center">
            <input type="text" name="asmPercent" [(ngModel)]="sprintPlanning.asmPercent" class="form-control" readonly="readonly" />
            <span>%</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p>Event Time:</p>
        </div>
        <div class="col-md-2">
          <select class="form-control" name="eventTime" [(ngModel)]="sprintPlanning.eventTime">
            <option value="0">0</option>
            <option value="0.5">0.5</option>binding
            <option value="1">1</option>
            <option value="1.5">1.5</option>
            <option value="2">2</option>
            <option value="2.5">2.5</option>
            <option value="3">3</option>
            <option value="3.5">3.5</option>
            <option value="4">4</option>
          </select>
        </div>
        <div class="col-md-1 p-0 pt-2 align-self-center">
          <p class="p-0">H</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mt-auto mb-auto">
          <label class="align-center">Comments:</label>
        </div>
        <div class="col-md-6">
          <textarea class="form-control" [(ngModel)]="sprintPlanning.comment" rows="3"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 offset-md-5">
            <input type="reset" value="Clear" class="form-control btn btn-warning"/>
        </div>
        <div class="col-md-2">
            <input type="submit" value="Update" class="form-control btn btn-warning"/>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
